<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ray Seep Test</title>
</head>
<body>
<div style="margin: 0px 100px 100px 100px">
	<div style="">
		<h1>简单文件服务器</h1>
		<div style="font-weight: bolder;color:#00cb1a">
			<span>你当前的设备:&nbsp&nbsp&nbsp{{.User_Agent}}</span>
		</div>
		<p>如果没有文件，请添加文件到你的服务目录下</p>
		<h4>目录文件：</h4>
	</div>
	<div style="background-color: #c6d5e9">
        {{.Context}}
		<div></div>
	</div>
</div>
</body>
</html>
